main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   height: 130vh;
   

}

footer {
    background-image: url(../assets/imgs/marmoreBlackGold.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.9);
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
font-size: 10px;

}

.lista_footer{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
color: white;



}

.lista_footer.left{
    width: 25vw;
    
}

.lista_footer.center{
    width: 40vw;
    margin-right: 7vw;
    flex-direction: column;
  
    justify-content: space-between;
    align-items: center;
 list-style: none;
    
}
.lista_footer.right{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 10px ;
}


.imagem_footer{
width: 45px;

}

.atributo_footer{
    list-style: none;
    font-size: 6px ;
}


.Filipe_footer{
    font-size: 10px;
    margin-top: 10vh;
    animation: led 4s infinite ease-out;;


}

@keyframes led {
80%{text-shadow: 0px 0px 0px rgb(255, 255, 255);}
50%{text-shadow: 0px 0px 10px rgb(235, 175, 55);}

}




    
.titulo_pagina{
font-size: 60px;
margin-top: -25vh;


}

h2{
    color: white;
}


li{
    list-style: none;
}


/* CONTEUDO DA PAGINA */

.container_conteudo{

    width: 100%;
    height: 100%;
    position:absolute;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -30vh;
   

}



/* QUIZ */

.container_quiz{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 2px 5px 10px black;
    background-image: url(../assets/imgs/textura_marmore.webp);
    padding: 20px;
    width: 40%;
    height: 50%;
 
}


.ul_quiz{

width: 80%;
height: 70%;
margin-bottom: 5vh;
}

.Titulo_questão{
align-items: center;
width: 80%;
height: 10%;
background-color: rgb(0, 0, 0, 0.7);
text-align: center;
display: flex;
justify-content: center;
color: white;
text-shadow: 0px 0px 5px rgb(235, 175, 55);
font-size: 25px;
}

.alternativa{
background-color:rgb(0, 0, 0, 0.4);
color: white;
width: 100%;
height: 25%;
margin-top: 1vh;

align-items: center;
text-align: center;
justify-content: center;
display: flex;
border-radius: 5px;
font-size: 30px;
}

.alternativa:hover{
   
    opacity: 90%;
    box-shadow: 0px 0px 5px rgb(235, 175, 55);
    padding: 2px;
}





.RespostaDiv{
    color: rgb(61, 243, 24);
    font-size: 20px;
    text-shadow: 0px 0px 5px  white;
}


.caixa_Pontos{
display: flex;
flex-direction: row;

font-size: 23px;
margin-bottom: -3vh;
    color: rgb(0, 0, 0);
}

.Pontos{
margin-left: 1vw;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    font-size: 25px;
    animation: led 4s infinite ease-out;;
}


.Final_Quiz{

 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
}

.Final_Quiz > h2{
    width: 100%;
    border-radius: 10px;
    height: 60%;
    overflow: hidden;
  color: white;
  margin-top: 3vh;
 
  text-shadow: 0px 2px 5px rgb(212, 175, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

button {
    
    border: none;
    border-radius: 10%;
    font-size: 1.5vw;
    width: 10vw;
    height: 9vh;
    
    color: rgb(255, 255, 255);
    background-image: url(../assets/imgs/marmoreBlackGold.jpg);
    background-size: cover;
    box-shadow: 1px 0px 5px rgb(0, 0, 0);
    text-shadow: 0px 2px 200px rgb(0, 0, 0);
}

button:hover {
    text-shadow: 1px 0px 5px rgb(255, 250, 187);
    box-shadow: 1px 0px 5px rgb(212, 175, 55);
    cursor: pointer;

}


/* MEDIA */

.Metricas{

display: flex;
margin-top: 4vh;
height: 20%;
width: 43%;
border-radius: 10px;
box-shadow: 2px 5px 10px black;


}

.PontosRanking{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-color:rgb(0, 0, 0, 0.7);
    width: 20%;
    height: 100%;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    text-shadow:0px 0px 5px rgb(235, 175, 55); ;
    
}

.Ranking{
    background-color:rgb(0, 0, 0, 0.4);
    background-image: url(../assets/imgs/textura_marmore.webp);
    width: 80%;
    border-radius: 5px;
}  


/* ANIMAÇÃO DE FUNDO DO SITE */

.anjinho{
width: 250px;
animation:aparicao 20s infinite ease-in-out ;
position: relative;

}

@keyframes aparicao {
    0%{margin-top:-20vh}
    10%{margin-top:-20vh}
    30%{margin-top: -100vh}
    55%{margin-top: -100vh}
    60%{margin-top: -20vh;}
   100%{margin-top:-20vh}
}
